@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Oswald:wght@200..700&display=swap');

.muktatitle{
    font-family: "Mukta", serif;
    font-weight: 700;
    font-style: normal;
}
.oswaldsubtitle{
    font-family: "Oswald", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}